.gradient-background{
  background: linear-gradient(to bottom, #0B2447, #19376D, #576CBC, #A5D7E8);
}

.customText{
  /* font-family: 'Oswald'; */
  /* font-family: 'Teko'; */
  /* font-family: 'Rubik Iso'; */
  /* font-family: 'Oswald'; */
  /* font-family: 'Blaka Ink'; */
  /* font-family: 'Blaka Ink', cursive; */
  /* font-family: 'Foldit'; */
  /* font-family: 'ADLaM Display'; */
  /* font-family: 'Bungee Spice', cursive; */
  font-family: 'Black Ops One';
  color : rgb(66, 101, 241);
  font-size: 2rem;;
}
