.App {
  text-align: center;
 
  font-family: 'Oswald', sans-serif;
  color : white;
  font-size: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow : None;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.gradient-background{
  background: linear-gradient(to bottom, #0B2447, #19376D, #576CBC, #A5D7E8);
}
.home{
background: 'robo-war\src\Home.jpg';
}
.customText{
 
  font-family: 'Bungee Spice', bold;
  color: rgb(147, 46, 10);
  font-size: 2rem;;
}